body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #0a192f;
  color: #fff;
}

.resume {
  max-width: 900px;
  margin: 50px auto;
  padding: 40px;
  background: #112240;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(100, 255, 218, 0.4);
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
 color: #fff; 
  text-shadow: 0 10px 8px #234b86, 10px 0 20px #657183 ; 
}

header p {
  margin: 5px 0;
  font-size: 1rem;
  color: #d1d5db;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
   color: #fff; 
  text-shadow: 0 10px 8px #234b86, 10px 0 20px #657183 ; 
  border-bottom: 2px solid #234b86;
  display: inline-block;
  padding-bottom: 5px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 8px;
  color: #e5e7eb;
}

.section p {
  color: #e5e7eb;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .resume {
    padding: 20px;
    margin: 20px;
  }
  header h1 {
    font-size: 2rem;
  }
}
